.yelofim-fonts-and-colors{
    color: #f1d325;
    color: #121212;
    color: #e4b71e;
    font-family: Exo, Roboto, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

body {
    font: 12px / 1.2 Exo, Roboto, Arial, Helvetica, sans-serif;
    color: #fff;
    background-image: url(../../images/BG.jpg);
    /* background: #e4b71e; */
}

.login-box{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
	background-color: rgba(0, 0, 0, 0.05);
    padding: 15px;
    max-width: 450px;
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;
    border-radius: 30px;
}
.login-box .white{
    padding: 5%;
    text-align: left;
    color: #121212;
    background-color: white;
    border-radius: 20px;
}
.login-box .top-text{
    text-align: left;
}
.login-box h4{
	margin: 0;
	margin-bottom: 20px;
	/* text-align: center; */
}
}
.login-box span{
	font-size: larger;
	/* text-align: center; */
}
.login-box input.form-control{
	padding: 5px;
    font-size: 12px;
    height: 30px;
    border-radius: 20px;
    border-color: transparent;
    background-color: transparent !important;
    box-shadow: none!important;
}
.login-box input.form-control:focus{
    color: #121212;
	padding: 5px;
    font-size: 12px;
    height: 30px;
    padding-left: 2%;
    border-radius: 20px;
    border-color: transparent;
    background-color:  #e4b61e48 !important;
    box-shadow: none!important;
}
.login-box .btn-div{
    display: flex;
    justify-content: center;
}
.login-box .btn {
    padding: 5px 30px;
    font-size: 12px;
    border-radius: 20px;
    border: 0;
    background-color: #f1d325;
    color: #121212;
    /* display: block; */
    text-align: center;
    margin-bottom: 15px;
    max-width: 40%;
    font-weight: 500;
}
.login-box .help a{
	color: #eee;
}


/* button Styles */


.navbar-form .btn{
	padding: 5px 10px;
    border-radius: 0;
    margin-left: -3px;
    border: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #e4b71e;
    color: #fff;
}

.navbar-form .btn:hover,.navbar-form .btn:focus,.navbar-form .btn:active{
	background-color: #f1d325;
	outline: none;
}

.title a.watch-full{
	width: 20%;
    background-color: #e4b71e;
    float: left;
    text-align: center;
    color: #fff;
    padding: 7px;
    border-radius: 3px;
}
.title a.watch-full:hover,.title a.watch-full:focus,.title a.watch-full:active{
	background-color: #f1d325;
	text-decoration: none;
	color: #fff;
}
.title button.watch-full{
    width: 100%;
    background-color: #e4b71e;
    float: left;
    text-align: center;
    color: #fff;
    padding: 7px;
    border-radius: 3px;
    border: 0;
}
.title button.watch-full:hover,.title button.watch-full:focus,.title button.watch-full:active{
    background-color: #f1d325;
    text-decoration: none;
    color: #fff;
}

.title input.watch-full{
    width: 100%;
    background-color: #e4b71e;
    float: left;
    text-align: center;
    color: #fff;
    padding: 7px;
    border-radius: 3px;
    border: 0;
}
.title input.watch-full:hover,.title input.watch-full:focus,.title input.watch-full:active{
    background-color: #f1d325;
    text-decoration: none;
    color: #fff;
}